@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark --prefersdark, cupcake,synthwave,retro,winter,cyberpunk,lemonade,night,coffee,dracula,business,corporate,emerald,forest,aqua,basic,bumblebee,cute;
}


@plugin "daisyui/theme" {
  name: "first";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(96% 0.018 272.314);
  --color-base-200: oklch(90% 0.058 230.902);
  --color-base-300: oklch(74% 0.a16 232.661);
  --color-base-content: oklch(35% 0.144 278.697);
  --color-primary: oklch(62% 0.265 303.9);
  --color-primary-content: oklch(27% 0.077 45.635);
  --color-secondary: oklch(83% 0.128 66.29);
  --color-secondary-content: oklch(26% 0.079 36.259);
  --color-accent: oklch(78% 0.115 274.713);
  --color-accent-content: oklch(25% 0.09 281.288);
  --color-neutral: oklch(51% 0.262 276.966);
  --color-neutral-content: oklch(96% 0.018 272.314);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(26% 0.079 36.259);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 2rem;
  --size-selector: 0.28125rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}


@plugin "daisyui/theme" {
  name: "my";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(96% 0.018 272.314);
  --color-base-200: oklch(91% 0.08 205.041);
  --color-base-300: oklch(87% 0.065 274.039);
  --color-base-content: oklch(35% 0.144 278.697);
  --color-primary: oklch(66% 0.295 322.15);
  --color-primary-content: oklch(27% 0.077 45.635);
  --color-secondary: oklch(83% 0.128 66.29);
  --color-secondary-content: oklch(26% 0.079 36.259);
  --color-accent: oklch(78% 0.115 274.713);
  --color-accent-content: oklch(25% 0.09 281.288);
  --color-neutral: oklch(51% 0.262 276.966);
  --color-neutral-content: oklch(96% 0.018 272.314);
  --color-info: oklch(78% 0.154 211.53);
  --color-info-content: oklch(30% 0.056 229.695);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(26% 0.051 172.552);
  --color-warning: oklch(75% 0.183 55.934);
  --color-warning-content: oklch(26% 0.079 36.259);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 2rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.28125rem;
  --size-field: 0.25rem;
  --border: 2px;
  --depth: 0;
  --noise: 0;
}


